*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans', sans-serif ;
}

.contenedor{
    padding: 60 px 0;
    width: 90%;
    max-width: 1000 px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color: #642a73;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/*header*/

header {
    width: 100%;
    height: 600px;
    background: #34e89e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(197, 63%, 16%, 0.651), hsla(155, 80%, 56%, 0.548)),url(/static/aerial-photo-of-buildings-and-roads-681335.jpg);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(197, 63%, 16%, 0.651), hsla(155, 80%, 56%, 0.548)),url(/static/aerial-photo-of-buildings-and-roads-681335.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    text-align: right;
    padding: 30px 0 0;
}

nav > a{
    color: whitesmoke;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    color: whitesmoke;
    font-weight: 300;
    text-decoration: underline;
    
}

header .textos-header{

    display: flex;
    height: 430 px;
    width:  100%;
    margin: 210px auto;
    align-items: bottom;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.textos-header h1{

    font-size: 50px;
    color:white
}

.textos-header h2{

    font-size: 30px;
    font-weight: 300px;
    color: white;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/*about us*/

.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.about-us{
    width: 48%;
}

.sobre-nosotros.contenido-textos{
    width: 48%;

}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: #4d0686;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0,0,.5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    text-align: justify;
}

/*galeria*/

.portafolio{
    background: #ffffff;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 24%;
    height: 24%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);

}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{

    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(273, 91%, 27%, 0.671);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: white;
}

.hover-galeria p a{
    color: white;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/* asociasiones */

.cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 20px;
    
}

.cards .card{
    background: #4d0686;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0,0,.5);
    margin: 20 px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 3px solid white;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: white;
}

.cards .card > .contenido-texto-card p{
    font-weight: 300;
    padding-top: 5px;
}

/* footer*/

footer{
    background: #414141;
    padding: 60 px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    justify-content: space-evenly;
    margin: 50px;
    padding-bottom: 50px;
    border-bottom: 1px solid #cccccc;
    float: left;

}

.content-foo h4{
    color: white;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p{
    color: white;
    
}



