<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nueva Sesion</title>
    <link rel="shortcut icon" href="/static/rent-a-car.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/estilos3.css">

</head>

<body>
    <nav>
        <a href="/logoutadministrador">Desconectarse</a>
        
    </nav>    
    
    <section class="titulo">
        <h2>Servicio Nacional de Transito</h2>
    </section>

    <div class = "contenedor-informacion">  
        <div class="texto">
            <p><b>\\Bienvenido a la Administracion del centro de transporte
                en esta pagina se \\podra manejar el uso de multas<b>
            </p>
        
            <a href="/anadirconductor">
                <h4>
                    1.Registrar nuevo conductor
                </h4>
            </a>
        
            <a href="/anadircarro" method='POST'>
                <h4>
                    2.Registrar nuevo carro
                </h4>
            </a>
        
            <a href="/anadirmulta">
                <h4>
                    3.Agregar nueva multa
                </h4>
            </a>
        </div >
        <div class="imagen">
            <img src="/static/11307.jpg" alt="" width="700" height="500" class="">
        </div>
        
        
    </div>

    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>3184668234</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Email</h4>
                <p>andres.galvis@utp.edu.co</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Location</h4>
                <p>Dosquebradas,Risaralda</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
             <p>Diseñado por andres galvis</p>
            </div>
        </div>
       
    </footer>

</body>
</html>