<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <link rel="shortcut icon" href="/static/rent-a-car.png" type="image/x-icon">

</head>
<body>
    <form action="/guardarmulta" method="POST">
        <div class="container">
            <div  class="form-group" >
                <input class="form-control" type="text" name="multa" placeholder="codigo multa">
            </div>
    
            <div class="form-group">
                <h5>persona multada:</h5>
                <select name="conductor" id="">
                    {%for conductor in conductor %}
                        <option value="{{conductor[0]}}">{{conductor[0]}}</option>
		            {%endfor%}

                </select>
            </div>
    
            <div class="form-group">
                <input class="form-control" type="date" name="fechademulta" placeholder="fecha de multa">
            </div>
    
            <div class="form-group">
                <input class="form-control" type="text" name="articulo" placeholder="Articulo infringido">
            </div>
    
            <div class="form-group">
                <input class="form-control" type="text" name="descripcion" placeholder="Descripcion de multa">
            </div>

            <div class="form-group">
                <h5>guardia que puso la infraccion:</h5>
                <select name="policia" id="">
                    {%for policia in policia %}
                        <option value="{{policia[0]}}">{{policia[0]}}</option>
		            {%endfor%}

                </select>
            </div>

            <div class="form-group">
                <input class="form-control" type="text" name="valor" placeholder="Valor de multa">
            </div>
    
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Registrar Multa</button>
            </div>
        </div>
        
    </form>
    
</body>

<!-- vinculando a libreria Jquery-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Libreria java scritp de bootstrap -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>