<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Centro de transito</title>
    <link rel="shortcut icon" href="/static/rent-a-car.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <nav>
          <a href="#">Inicio</a>
          <a href="#">Acerca de</a>
          <a href="#">Soporte</a>
          <a href="#">Inicio sesion</a>
        </nav>
        <section class="textos-header">
            <h1>Servicio Nacional de Transito</h1>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.27,60.48 C218.11,148.32 303.33,149.30 503.10,67.40 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(253, 253, 253);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Pagos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/static/17913.jpg" alt="" width="700" height="500" class="about us">
                <div class="contenido-textos">
                    <h3><span>1</span>pago en linea de multas</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi deserunt nulla non neque dicta cupiditate doloribus officiis ullam sit in totam sint laborum provident porro eos dignissimos tempore rem, excepturi natus ratione, aut illo, quidem praesentium. Explicabo recusandae voluptatibus id, voluptatum reiciendis numquam, vero odit, sunt officia velit corporis. Aperiam.</p>
                </div>
            </div>
        </section>
        <section>
            <section class="portafolio">
                <div class="contenedor">
                    <h2 class="titulo">Portafolio</h2>
                    <div class="galeria-port">
                        <div class="imagen-port">
                            <img src="/static/6348.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="/static/permit.png" alt="">
                                <p>pago de multas </p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="/static/15686.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="/static/permit.png" alt="">
                                <p>ver multas</p>
                            </div>
                        </div>
                        <div class="imagen-port">
                            <img src="/static/3005587.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="/static/permit.png" alt="">
                                <p>ver informacion</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section>
            <div class="transporte contendeor">
                <div class="cards">
                    <div class="card">
                        <img src="/static/www.mintransporte.gov_.co_.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Transito</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur corrupti dolore </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transporte contendeor">       
                <div class="cards">
                    <div class="card">
                        <img src="/static/pereiratransito.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Movilidad de pereira</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aspernatur .</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>3184668234</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Email</h4>
                <p>andres.galvis@utp.edu.co</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Location</h4>
                <p>Dosquebradas,Risaralda</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
             <p>Diseñado por andres galvis</p>
            </div>
        </div>
       
    </footer>
</body>
</html>
