{%with messages = get_flashed_messages() %}
		{%if messages%}
		{%for messages in messages%}
		<div class="alert alert-danger" role="alert">
			 <a href="#" class="alert-link">Su multa ha sido pagada</a>
			 <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			  </button>
		  </div>
		{%endfor%}
		{%endif%}
		{%endwith%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <title>Centro de transito</title>
    <link rel="shortcut icon" href="/static/rent-a-car.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/estilos.css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet"> 
</head>
<body>
    <header>
        <nav>
          <a href="#">Inicio</a>
          <a href="https://twitter.com/MinTransporteCo">Acerca de</a>
          <a href="https://serviciosdetransito.com/index.php/contact-center">Soporte</a>
          <a href="http://127.0.0.1:3000/iniciar_sesion">Inicio sesion</a>
        </nav>
        <section class="textos-header">
            <h1>Servicio Nacional de Transito</h1>
        </section>
        <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.27,60.48 C218.11,148.32 303.33,149.30 503.10,67.40 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: rgb(253, 253, 253);"></path></svg></div>
    </header>
    <main>
        <section class="contenedor sobre-nosotros">
            <h2 class="titulo">Pagos</h2>
            <div class="contenedor-sobre-nosotros">
                <img src="/static/17913.jpg" alt="" width="700" height="500" class="about us">
                <div class="contenido-textos">
                    <h3><span>1</span>pago en linea de multas</h3>
                    <p>Por medio de la siguiente aplicacion se realiza un metodo de pago en line para las multas que el usuario tenga vigentes.Adicional a esto el usuario podra su informacion .</p>
                </div>
            </div>
        </section>
        <section>
            <section class="portafolio">
                <div class="contenedor">
                    <h2 class="titulo">Portafolio</h2>
                    <div class="galeria-port">
                        <div class="imagen-port">
                            <img src="/static/6348.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="/static/permit.png" alt="" >
                                <p><a href="/loginmulta">Ver Multas</a></p>
                            </div>
                        </div>
                        
                        <div class="imagen-port">
                            <img src="/static/3005587.jpg" alt="">
                            <div class="hover-galeria">
                                <img src="/static/permit.png" alt="">
                                <p><a href="/informacion">Ver informacion</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
        <section>
            <div class="transporte contendeor">
                <div class="cards">
                    <div class="card">
                        <img src="/static/www.mintransporte.gov_.co_.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Transito</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur corrupti dolore </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="transporte contendeor">       
                <div class="cards">
                    <div class="card">
                        <img src="/static/pereiratransito.jpg" alt="">
                        <div class="contenido-texto-card">
                            <h4>Movilidad de pereira</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates aspernatur .</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Telefono</h4>
                <p>3184668234</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Email</h4>
                <p>andres.galvis@utp.edu.co</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
                <h4>Location</h4>
                <p>Dosquebradas,Risaralda</p>
            </div>
        </div>
        <div class="contenedor-footer">
            <div class="content-foo">
             <p>Diseñado por andres galvis</p>
            </div>
        </div>
       
    </footer>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</html>
